@model ToGoDelivery.Models.Order.OrderDetail

@{
    ViewBag.Title = "Customer Cart";
}
<div class="jumbotron" style="background-color:white">
    <h2 style="font-weight:bolder">Shopping Cart</h2>
    @Html.HiddenFor(model => model.OrderId)

    <div>
        @Html.ActionLink("Start a New Order", "Create", null, new { id = "myLink" }) |
        @Html.ActionLink("Back to Menu", "Index", "Menu")

    </div>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <br />
    @*<table>
            <tr>
                <th style="font-weight:bolder">Products</th>
            </tr>
        </table>*@
    <div style="font-size: large">Products</div>

    <table class="table table-hover">
        <tr>
            <th>Name</th>

            <th>Count</th>

            <th>Cost</th>

            <th></th>

        </tr>
        @foreach (var op in Model.OrderProducts)
        {
            <tr>
                <td>
                    @op.ProductName
                </td>
                <td>
                    @op.ProductCount
                </td>
                <td>
                    @op.Cost.ToString("C")
                </td>
                <td>
                    @Html.ActionLink("Remove", "Delete", "OrderProduct", new { productId = op.ProductId }, null)
                </td>

            </tr>
        }
    </table>
    <br />
    @*<table>
            <tr>
                <th style="font-weight:bolder" class="text-center">Services</th>
            </tr>
        </table>*@
    <div style="font-size: large">Services</div>

    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th style="color:white"></th>
            <th>Cost</th>
            <th></th>

        </tr>
        @foreach (var os in Model.OrderServices)
        {
            <tr>
                <td>
                    @os.ServiceName
                </td>
                <td style="color:white"></td>
                <td>
                    @os.Cost.ToString("C")

                </td>
                <td>
                    @Html.ActionLink("Remove", "Delete", "OrderService", new { serviceId = os.ServiceId }, null)
                </td>
            </tr>
        }
    </table>
    <div style="font-weight:bolder">
        Running Total Cost: @Html.DisplayFor(r => Model.TotalCostCalculator)
    </div>
    <br />
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    <div>
        @*<input type="button" value="Finalize Order" onclick="window.location= '@Html.ActionLink( "Finalize", "Order", new {id = Model.OrderId }, null)'" />*@
        @Html.ActionLink("Finalize Order", "Finalize", "Order", new { id = Model.OrderId }, new { @class = "btn btn-default" })
        @*, @style="color: black; border: 1px solid grey;"*@
        @*<button onclick="location.href='@Url.ActionLink("Order", "Finalize", "Order", new { id = Model.OrderId }, null)'">Finalize Order</button>*@


    </div>

</div>
