@model ToGoDelivery.Models.Order.OrderDetail

@{
    ViewBag.Title = "Customer Cart";
}
<div class="jumbotron" style="background-color:white">
    <h2 style="font-weight:bolder">Orders</h2>
    @Html.HiddenFor(model => model.OrderId)

    <div>
        @Html.ActionLink("Start a New Order", "Create", null, new { id = "myLink" }) |
        @Html.ActionLink("Back to Menu", "Index", "Menu")

    </div>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    <table class="table table-hover">
        <tr>
            <th>Name</th>

            <th>Count</th>

            <th>Cost</th>

            <th>ID</th>

            <th></th>

        </tr>
        @foreach (var op in Model.OrderProducts)
        {
    <tr>
        @*<td>
            @Html.DisplayFor(r => op.ProductName)
        </td>
        <td>
            @Html.DisplayFor(r => op.ProductCount)
        </td>
        <td>
            @Html.DisplayFor(r => op.Cost)
        </td>*@
        <td>
            @op.ProductName
        </td>
        <td>
            @op.ProductCount
        </td>
        <td>
            @op.Cost.ToString("C")
        </td>
        <td>
            @op.ProductId
        </td>
        <td>
            @Html.ActionLink("Remove", "Delete", "OrderProduct", new { productId = op.ProductId }, null)
        </td>

    </tr>
        }
        @foreach (var os in Model.OrderServices)
        {
    <tr>
        @*<td>
            @Html.DisplayFor(r => os.ServiceName)
        </td>
        <td>
            1
        </td>
        <td>
            @Html.DisplayFor(r => os.Cost.ToString("C"))
        </td>*@
        <td>
            @os.ServiceName
        </td>
        <td>
            n/a
        </td>
        <td>
            @os.Cost.ToString("C")
            @*@Html.DisplayFor(os => os.Cost)*@

        </td>
        <td style="display:none">
            @os.ServiceId
        </td>
        <td>
            @Html.ActionLink("Remove", "Delete", "OrderService", new { serviceId = os.ServiceId}, null) 
        </td>
    </tr>
        }
    </table>
    <div>
        Running Total Cost: @Html.DisplayFor(r => Model.TotalCostCalculator)
    </div>

</div>
