@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background-color: #ffffe6">
    <h2 style="font-weight:bolder">Menu</h2>
    @*<div>
            @Html.ActionLink("Create New Order", "Create", null, new { id = "myLink" })
        </div>*@

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    <table class="table table-hover">
        @*<tr>
                <th>
                    Name
                </th>
                <th>
                    Cost
                </th>

                <th></th>
            </tr>*@
        <tr>
            <td><h3>Products</h3></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var product in ViewBag.Products)
        {
            if (product.IsActive)
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Cost.ToString("C")
                    </td>
                    <td>
                        @Html.ActionLink("Add to Cart", "Create", "OrderProduct", new { productId = product.ProductId }, null)
                    </td>
                </tr>
            }
        }
        <tr>
            <td @*style="font-size: large"*@><h3>Services</h3></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var service in ViewBag.Services)
        {
            if (service.IsActive)
            {
                <tr>
                    <td>
                        @service.Name
                    </td>
                    <td>
                        @service.Cost.ToString("C")
                    </td>
                    <td>
                        @Html.ActionLink("Add to Cart", "Create", "OrderService", new { serviceId = service.ServiceId }, null)
                    </td>
                </tr>
            }
        }
    </table>
</div>
